body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Gilroy, sans-serif;
}

#myCarousel {
  margin-top: -190px; /* Remove negative margin */
  z-index: 0; /* Set z-index to 0 */
}

header {
  display: flex;
  position: relative;
  z-index: 1; /* Set z-index to 1 */
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px white;
}

.box:hover:before {
  border-color: white;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: white;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  position: relative;
  margin: 3.2em 0;
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: white;
  display: inline-block;
  position: relative;
}

.nav ul li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0.2em;
  background: linear-gradient(to right, #5e42a6, #b74e91);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.nav ul li a:hover::after {
  width: 100%;
}

.nav ul li a:hover {
  color: #5e42a6; /* Change text color on hover */
}

  .rotate-hor-center{-webkit-animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both}

@-webkit-keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}@keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}

.firstone{
  text-align: center;
  font-size: 30px;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/f1/f9/00/f1f9007aca281d57c00c6a3d097b13d2.gif");
  
  opacity: 0.8;
  padding: 40px;
}

.firstone p{
  color: white;
  font-size: 30px;
  font-weight: 600;
  background-clip: text;
}

.scale-up-center{-webkit-animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) infinite both;animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) infinite both}
 


 @-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

 .marqueee { 
  height: clamp(3em, 10vw, 6em);
  width: 100vw;
  left: -80px;
  position: relative;
}

.marquee-text {
  position: absolute;
  font-size: clamp(2.5rem, 8vw, 5.5rem);
  font-family: sans-serif;
  display: inline;
  padding-bottom: 12px;
  text-transform: uppercase;  
  font-size: 5em;
  font-weight: 600;
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 2px rgb(140, 22, 140); /* Add a black outline around the text */
  -webkit-text-fill-color: transparent; /* Hide the text fill */
  color: transparent;
  text-align: center;
  background-clip: text;
  opacity: 0; 
}

.marquee-text:nth-child(1) {
  animation: marquee 15s infinite linear 0s;
}

.marquee-text:nth-child(2) {
  animation: marquee 15s infinite linear 2s; /* Adjusted delay for smooth transition */
}

.marquee-text:nth-child(3) {
  animation: marquee 15s infinite linear 4s; /* Adjusted delay for smooth transition */
}

.marquee-text:nth-child(4) {
  animation: marquee 15s infinite linear 6s; /* Adjusted delay for smooth transition */
}

.marquee-text:nth-child(5) {
  animation: marquee 15s infinite linear 8s; /* Adjusted delay for smooth transition */
}

.marquee-text:nth-child(6) {
  animation: marquee 15s infinite linear 10s; /* Adjusted delay for smooth transition */
}

.marquee-text:nth-child(7) {
  animation: marquee 15s infinite linear 12s; /* Adjusted delay for smooth transition */
}


.epara{
    padding: 50px; 
    max-width: 800px;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
}

#eparah1{
  font-size: 3em;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

#peparah{
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  font-size: 17px;
  position: relative;
  text-align: justify;
  left: 600px;
  top: 200px;
  background-clip: text;
}

.fotot{
  border-radius: 20px;
  width: 450px;
  height: 500px;
  transition: 0.3s ease-in-out;
}
.fotot:hover{
  border-radius: 40px;
  width: 470px;
  height: 520px;
}
#fotoja1{
  position: relative;
  margin-top: -70px;
  margin-left: -10px;
}

#fotoja2{
  position: relative;
  top: -150px;
  left: 430px;
}

@keyframes marquee {
  0% {
    left: 100%;
    opacity: 1; /* Start fading in from the beginning */
  }
  20%, 100% {
    left: 0;
    transform: translateX(-100%);
  }
  80% {
    left: -100%; /* Move the element out of view before fading out */
    opacity: 0; /* Fade out towards the end */
  }
}

.scroll-appear {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.scroll-appear.appear {
  opacity: 1;
}

#edytah1{
  font-size: 4em;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  text-align: center;
  background-clip: text;
}

.clientspics{
  width: 600px;
  height: 700px;
  position: relative;
  left: 300px;
  top: -250px;
}

.clients{
  text-align: center;
}

.clientsh2 {
  font-family: sans-serif; /* Change to inline-block for rotation */
  display: inline-block;
  text-transform: uppercase;  
  font-size: 5em;
  font-weight: 600;
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 2px rgb(140, 22, 140); /* Add a black outline around the text */
  -webkit-text-fill-color: transparent; /* Hide the text fill */
  transform: rotate(90deg); /* Rotate the text by 90 degrees */
  position: relative;
  left: 400px;
  top: -450px;
  transform-origin: left top; /* Set the rotation origin */
  background-clip: text;
}

.clientsp{
  position: relative;
  width: 350px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  left: 30px;
  top: 200px;
  background-clip: text;
}

#etretah1{
  font-family: sans-serif; /* Change to inline-block for rotation */
  display: inline-block;
  text-transform: uppercase;  
  font-size: 6em;
  font-weight: 600;
  color: transparent; /* Make the text color transparent */
  -webkit-text-stroke: 2px rgb(140, 22, 140); /* Add a black outline around the text */
  -webkit-text-fill-color: transparent; /* Hide the text fill */
  position: relative;
  top: 300px;
  transform: rotate(-90deg); /* Set the rotation origin */
  background-clip: text;
}

.etreta{
  margin-left: 200px;
  margin-top: 150px;
}

#ptreta{
  position: relative;
  width: 350px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  left: 430px;
  top: 0px;
  font-size: 20px;
  background-clip: text;
}

#clickhere{
  color: #952795;
  width: 250px;
  position: relative;
  left: 420px;
  top: 40px;
}
#clickhere:hover {
  box-shadow: 0 5px 15px #952795;
}

#clickhere:hover:before {
  border-color: #952795;
  height: 100%;
  transform: translateX(0);
  transition: .2s transform linear, .3s height linear .3s;
}

#clickhere:hover:after {
  border-color: #952795;
  height: 100%;
  transform: translateX(0);
  transition: .2s transform linear, .3s height linear .5s;
}

.form {
  align-self: center;
}

.form__input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;

  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }

  &:focus {
    outline: none;
    border-top-color: rgba(0,0,0,0.1);
  }

  &:focus + .form__label, &:not(:placeholder-shown) + .form__label {
    transform: translateY(-4.50rem) scale(1);
    color: black;
  }

  &::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

.form__label {
  font-size: 1rem;
  color: grey;
  display: block;
  transform: translate(1.25rem,-2.5rem);
  transform-origin: 0 0;
  transition: all 500ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none; 
}